command.md
# bytecode
__pycache__/

# Jetbrains project files
.idea/
.vscode

# project specific files
src/spasco/settings.ini
todo.txt

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.py,cover
.pytest_cache/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
dist
src/spasco.egg-info
**/__pycache__/
**/.cache
*.ipynb_checkpoints
**/.vscode

# Some folders get created by tests.
**/tests_output
docs/build
tests/failures.txt
